*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    font-family: Barlow Semi Condensed;
}
.container{
    display: grid;
    grid-template-areas: "box1 box1 box2 box5"
                         "box3 box4 box4 box5";
    width: 80%;
    height: 50vh; 
    background-color: white; 
    gap: 10px;                   
}
#box{
    border-radius: 15px;
    height: ;
}
.boxhead{
    display: flex;
    justify-content: row;
    color: white;
}
.image{
    width: 60%;
    border-radius: 50%;
    border: 2px solid white;
}
.name{
    font-weight: 600;
    font-size: 13px;
    color: hsl(0, 0%, 81%)
}
.text{
    

}
.text h1{
    font-size: 10px;
    font-weight: 100;
    color: white;

}
.text p{
    color: white;
    font-size: 20px;
    font-weight: 100;
}
.box1{
    grid-area: box1;
    padding: 10px;
    margin: 10px;
    background-color: hsl(263, 55%, 52%); 
}
.box1 svg{
    position: absolute;

}
.box2{
    grid-area: box2;
    background-color: hsl(217, 19%, 35%);
}
.box3{
    grid-area: box3;
    background-color: (0, 0%, 100%);
    
}
.box3 .name .grad .text {
    color: black;

}
.box4{
    grid-area: box4;
    background-color: hsl(219, 29%, 14%);
}
.box5{
    grid-area: box5;
    background-color: (0, 0%, 100%);
    color: black;
}
.box5 .name .grad .text {
    color: black;
}